import os

TITRE = 'Musite'

PLUGINS = (
    'gregorio',
    'lilypond',
    )

SERVER_CONFIG={
#    'server.socket_host': '0.0.0.0',
#    'server.socket_port':2443,
#    'server.ssl_module':'builtin',
#    'server.ssl_certificate':'/etc/ssl/musite.pem',
#    'server.ssl_private_key':'/etc/ssl/musite.pem',
    }

PWD = os.path.abspath(os.getcwd())
TMP = os.path.join(PWD,'tmp')
DATA = os.path.join(PWD,'public','data')
MODELES = os.path.join(PWD,'modeles')
